[core]
  excludesfile = ~/.gitignore

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  line-numbers = true

[merge]
  conflictstyle = zdiff3

[diff]
    algorithm = histogram

[url "git@github.com-acando86:"]
  insteadOf = https://github.com/
